<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>SunBaby Заказ</title>
		<link rel="stylesheet" href="/files/style.css" />
	</head>
	<body>   
		<form class="form">
		
			<h2>CONTACT US</h2>
			<p type="Name:"><input placeholder="Write your name here.."/></p>
			<p type="Email:"><input placeholder="Let us know how to contact you back.."/></p>
			<p type="Message:"><input placeholder="What would you like to tell us.."/></p>
			<button>Send Message</button>
			<div>
				<span class="fa fa-phone">+375331112233</span>			
				<span class="fa fa-envelope-o">contact@company.com</span>
				<span class="fa fa-phone">+375293332211</span>
				<span class="fa fa-envelope-o">t.me/l</span>			
			</div>
		</form>
	</body>
</html>


